/*==============================================
 *
 * param
 *  
 ===============================================*/
#air_table{
    width: 100%;
    height: 693px;
}

.air_border{
    border: 1px solid rgba(0, 0, 0, 1);
}

.air_table100{
    width: 100%;
    height: 100%;
}